<nav class="bottom-nav">
    <button class="nav-btn" data-page="home" onclick="goToHome()">
        <img src="../static/resources/book_botton.png" alt="BookXchange Logo" class="btn-icon-active">
        <img src="../static/resources/book_botton_inactive.png" alt="BookXchange Logo" class="btn-icon-inactive">
    </button>
    <button class="nav-btn" data-page="announcements" onclick="goToAnnouncements()">
        <i class="fas fa-plus"></i>
    </button>
    <button class="nav-btn" data-page="favourites" onclick="goToFavorites()">
        <i class="fas fa-heart"></i>
    </button>
</nav>

