<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookXchange - Preferences</title>
    <link rel="stylesheet" href="/static/preferencedashboard.css">
</head>

<body>

    <div class="container">

        <!-- Logo -->
        <div class="logo-icon">
            <img src="/static/resources/BlackBookLogo.png" class="book-svg" alt="Logo">
        </div>

        <h1 class="title">Preferences</h1>

        <div class="grid scrollable-grid">
            <div class="pref-card" onclick="togglePreference(this)">
                <img src="/static/resources/romancepreference.png">
                <span>Romance</span>
            </div>

            <div class="pref-card" onclick="togglePreference(this)">
                <img src="/static/resources/fantasypreference.png">
                <span>Fantasy</span>
            </div>

            <div class="pref-card" onclick="togglePreference(this)">
                <img src="/static/resources/biographypreference.png">
                <span>Biography</span>
            </div>

            <div class="pref-card" onclick="togglePreference(this)">
                <img src="/static/resources/sci-fipreference.png">
                <span>Sci-Fi</span>
            </div>
            <div class="pref-card" onclick="togglePreference(this)">
                <img src="../static/resources/historical_fiction.png" alt="Historical Fiction">
                <span>Historical Fiction</span>
            </div>

            <div class="pref-card" onclick="togglePreference(this)">
                <img src="../static/resources/horror.jpg" alt="Horror">
                <span>Horror</span>
            </div>

            <div class="pref-card" onclick="togglePreference(this)">
                <img src="../static/resources/mystery.jpg" alt="Mystery / Thriller">
                <span>Mystery</span>
            </div>

            <div class="pref-card" onclick="togglePreference(this)">
                <img src="../static/resources/personal_development.jpg" alt="Personal Development">
                <span>Personal Development</span>
            </div>
        </div>

        <div class="button-container">
            <button class="skip-btn" onclick="skip()">skip</button>
            <button class="next-btn" onclick="goNext()">→</button>
        </div>

    </div>

    <!-- Scripts -->
    <script src="/static/api.js"></script>
    <script src="/static/preferencedashboard.js"></script>
</body>
</html>